@page "/register"
@using BlazingNotes.Shared
@inject HttpClient Http

<EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <label for="secret">Username<InputText id="name" @bind-Value="model.Username" /></label>
    <label for="secret">Password<InputText id="secret" @bind-Value="model.Secret" /></label>
    <button type="submit">Submit</button>
</EditForm>

@code {
    private RegisterRequest model = new RegisterRequest();

    private async Task HandleValidSubmit()
    {
        await Http.PostJsonAsync("api/User", model);
    }
}