<nav>
    <img src="img/copybook_64px.png" width="42" height="42" />
    <toolbar>
        <a href="/" class="config"><img class="invert" src="img/icons8_settings_96px_1.png" width="32" height="32" /></a>
        <a href="/" class="about"><img class="invert" src="img/icons8_about_96px_1.png" width="32" height="32" /></a>
    </toolbar>
</nav>

@code {

}
